@model IEnumerable<School2linq.Models.SchoolConnection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.TeacherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classes.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConnectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConnectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConnectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
